rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{uid} {
      allow read,write,update,delete: if false
    }

    match /bookings/{booking} {
      allow read: if true
      allow update,write,delete: if false
    }
  }
}